<div class="m-b-1em">
    <app-activity-sign-up-list-search (searchResultsEvent)="receiveSearchResults($event)">
    </app-activity-sign-up-list-search>
</div>

<div *ngIf="!activitiesFiltered.length && fetched">
    <h1>Oh no!</h1>
    <h2>No results found with your filters :(</h2>
</div>

<div *ngFor="let activity of activitiesFiltered" class="m-b-1em">
    <h2>{{activity.name}}</h2>

    <div *ngFor="let date of activity.activityDates" class="m-b-1em">
        <h3>{{date.description()}}</h3>

        <mat-selection-list [multiple]="false">
            <mat-list-option *ngFor="let signUp of date.activitySignUps" (click)="showDetails(signUp)">
                {{signUp.firstName}} {{signUp.lastName}}
                <mat-divider></mat-divider>
            </mat-list-option>
        </mat-selection-list>
    </div>
</div>