<div class="welcome">
    <h1>Welcome to the fitness club! </h1>
    <mat-icon>directions_run</mat-icon>
    <mat-icon>pool</mat-icon>
    <mat-icon>hiking</mat-icon>
    <mat-icon>accessible_forward</mat-icon>
</div>

<div class="text-button-group">
    <h2>Signing up for an actity?</h2>

    <div>
        <button routerLink="activity-sign-up" mat-raised-button color="accent">Sign up</button>
    </div>
</div>

<div class="text-button-group">
    <h2>Who's already signed up?</h2>

    <div>
        <button mat-raised-button color="accent" routerLink="activity-sign-ups">Show me</button>
    </div>
</div>